<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

 	<bean id="xDiamondConfig"
		class="io.github.xdiamond.client.spring.XDiamondConfigFactoryBean">
		<property name="serverHost" value="${com.shenma.xdiamond.serverHost}" />
		<property name="serverPort" value="${com.shenma.xdiamond.serverPort}" />
		<property name="groupId" value="${com.shenma.xdiamond.groupId}" />
		<property name="artifactId" value="${com.shenma.xdiamond.artifactId}" />
		<property name="version" value="${com.shenma.xdiamond.version}" />
		<property name="bSyncToSystemProperties" value="${com.shenma.xdiamond.bSyncToSystemProperties}"/>
		<property name="profile" value="${com.shenma.xdiamond.profile}" />
		<property name="secretKey" value="${com.shenma.xdiamond.secretKey}"></property>
	</bean> 

	<!--  <bean class="io.github.xdiamond.client.spring.PropertySourcesAdderBean">
		<property name="properties">
			<bean class="java.util.Properties" factory-bean="xDiamondConfig"
				factory-method="getProperties">
			</bean>
		</property>
	</bean> -->

</beans>